/MiNombre/target/
/AreaCuadrado/target/
/DistanciaPuntos/target/
/Casting/target/
/Horoscopo/target/
/Descuento/target/
/Mes/target/
/NumerosPares/target/
/AdivinarNumero/target/
/Ak/target/
/Aviso/target/
/Tarjetaa/target/